body {
    background: rgb(211, 211, 211);
    background-size: cover; 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: rgb(36, 0, 168);
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 125%;
}

h1 {
    font-family: Helvetica;
    font-size: 250%;
}

h2 {
    font-family: Helvetica;
    font-size: 150%;
}

a {
    font-family: Times;
    font-size: 110%;
    color: rgb(31, 100, 179);
}

p {
    font-family: Arial Narrow;
    font-size: 110%;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    left: 0px;  
    right: 0px;   
    width: 100%;
    bottom: 0px;
    background-color: #D3D3D3;  
    color: black;  
    text-align: center;
    padding: 10px;
    font-size: 110%;
  } 